/* Contenedor principal */
.statistics-page {
  min-height: 100vh; /* Ocupa toda la pantalla */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Título arriba */
  background-image: 
    linear-gradient(rgba(255, 245, 204, 0.9), rgba(255, 245, 204, 0.9)),
    url('../../../public/logoFondo.png'); 
  background-repeat: repeat;
  background-size: 5%;
  background-position: center;
  filter: brightness(0.95);
}

/* Contenedor general */
.statistics-container {
  width: 95%;
  max-width: 1400px;
  margin: 20px auto;
  text-align: center;
  font-family: 'Arial', sans-serif;
}

/* Título principal */
.statistics-title {
  font-size: 3rem;
  color: #1c802d;
  margin-bottom: 30px;
  text-transform: uppercase;
}

/* Sección de gráficos */
.chart-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 40px;
}

/* Título de cada gráfico */
.chart-title {
  font-size: 1.8rem;
  color: #333;
  margin-bottom: 15px;
}

/* Contenedor de gráficos específicos */
.chart-wrapper {
  width: 100%;
  max-width: 900px;
  height: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff; /* Fondo blanco */
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.chart-wrapper:hover {
  transform: scale(1.02);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
}

/* Eliminar recuadro en gráficos de torta */
.pie-chart-wrapper {
  width: 40%;
  max-width: 900px;
  height: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff; /* Fondo blanco */
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.download-button {
  padding: 10px 15px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

.download-button:hover {
  background-color: #218838;
}

/* Ajustes responsivos */
@media (max-width: 768px) {
  .chart-wrapper {
    height: 400px; /* Reducir altura */
  }

  .statistics-title {
    font-size: 2.5rem;
  }

  .chart-title {
    font-size: 1.5rem;
  }
}

@media (max-width: 480px) {
  .statistics-title {
    font-size: 2rem;
  }

  .chart-title {
    font-size: 1.3rem;
  }

  .chart-wrapper {
    height: 300px; /* Reducir aún más para móviles */
  }
}
